html, body {
  height: 100%;               
  margin: 0;
  padding: 0;
  background: rgb(47, 47, 47);  
  /* display: flex;               */
  /* justify-content: center;     */
  /* align-items: center;         */
}

canvas {
  display: block;
  border-radius: 10px;
  width: 500px;               /* Example width */
  height: 150px;              /* Example height */
}

.slider {
  width: 150px;
  margin: 5px;
}

.cc-select {
  margin: 5px;
}

.slider-description {
  font-size: 14px;
  color: white;
  margin: 5px;
}
